/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
	.no_space .kc-container {
	  padding-left: 15px;
	  padding-right: 15px;
	}

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.site-title {
	  padding: 15px 0;
	}
	.container { width: 95% }
	.no_space .kc-container {
	  padding-left: 15px;
	  padding-right: 15px;
	}
	.wp-megamenu-wrap .wpmm-nav-wrap > ul > li > a, #wp-megamenu-primary > .wpmm-nav-wrap ul.wp-megamenu > li > a {
	  color: #444;
	}
	.pad_zero{
		padding: 0 15px;
	}
}

 
/* small mobile :320px. */
@media (max-width: 767px) {
	.container { width: 95% }
	.site-title {
	  padding: 15px 0;
	}
	.no_space .kc-container {
	  padding-left: 15px;
	  padding-right: 15px;
	}
	.pad_zero{
		padding: 0;
	}
	.breaking-news-wrapper .breaking-news-title{
		padding: 5px 10px;
	}
	.wp-megamenu-wrap .wpmm-nav-wrap > ul > li > a,#wp-megamenu-primary > .wpmm-nav-wrap ul.wp-megamenu > li > a {
	  padding: 10px 14px;
	  color: #444;
	}
	.wpmm-mobile-menu a.wpmm_mobile_menu_btn {
	  padding: 3px 5px;
	}
	#wp-megamenu-primary.wpmm-mobile-menu a.wpmm_mobile_menu_btn {
	  margin-top: 10px;
	}
	.page-banner h2{
		text-align: center;
	}

	.breadcrumbs{
	   display: block;
	   text-align: center;
	}
	.breadcrumbs h2.page-title{
	   width: 100%;
	   margin-bottom:10px;
	}
	.breadcrumbs_wrap{
	   width:100%;
	}

	.meta-info .meta-item.pull-right{
		float: none !important;
	}
	.breadcrumbs_wrap ul li:first-child{
	  padding-left: 0;
	}



	/* Search bar */

	.blog-search form input {
	  padding: 2px 70px 2px 15px;
	}
	.blog-search form button {
	  padding: 0 18px;
	  z-index: 99999999;
	}
	.blog-search form button::before {
	  right: 55px;
	}

	blockquote {
	  padding: 0 0 0 15px;
	  font-size: 14px;
	}

	.blog-info > ul {
	  margin: 20px;
	}


	
	.user-info .user-text span {
	    display: block;
	    padding: 5px 0;
	}
	.user-share {
	    display: block;
	    float: none;
	    margin-top: 15px;
	}
	.user-share span {
	    display: block;
	    float: none;
	    margin-bottom: 10px;
	    margin-right: 0;
	}
	.user-text {
	    display: block;
	    float: none;
	}
	.user-info {
	    overflow: hidden;
	}
	.author-img {
	    display: block;
	    float: none;
	    margin-bottom: 20px;
	}
	.author.author-box {
	    align-items: flex-start;
	    flex-flow: column wrap;
	    justify-content: flex-start;
	    margin: 50px 0;
	}
	.author-info {
	    padding-left: 0;
	    width: 100%;
	}

	.sidebar-title {
	    font-size: 20px;
	    letter-spacing: 1px;
	    margin-bottom: 50px;
	}
	.sidebar-title::before {
	    bottom: -10px;
	}
	.related-post > .row {
	  display: block;
	  flex-flow: column wrap;
	}

	.sidebar-widget.widget_tag_cloud .tagcloud a{
		font-size: 12px !important;
	}
	.post-nav a span.next_prev_title{
		display: none;
	}
	.post-nav a.prev-post{
		border-bottom: 0;
	}
	.post-nav a span.next_prev_text {
	  background: #00c8fa none repeat scroll 0 0;
	  color: #fff;
	  margin-bottom: 0;
	  padding: 5px;
	  text-align: center;
	  border:1px solid transparent;
	}
	.post-nav a span.next_prev_text:hover{
		background: transparent;
		border:1px solid #00c8fa;
		color: #888888;
	}



}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container { width: 90% }
}