/*
Theme Name: Hashnews - Child
Template: hashnews
Version: 1.0.0
Text Domain: hashnews
*/

/*---------------------------------
    write your css from here
------------------------------------*/


.feed_cat li:before {
    content: "";
    border-color: transparent #00c8fa;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1.4em;
    position: relative;
}
.feed_cat{
padding: 0 0 0 45px  !important;
}
.feed-cat-box{
	border-top: solid 1px #ccccccc4;
    background: #cccccc36;
}

.feed-p-img{
	height: 151px;
    width: 151px;
}

.custom-senior-footer h2.widgettitle , .custom-senior-footer h4.widget-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #ffffff;
    line-height: 14px;
    text-transform: capitalize;
    padding-left: 15px;
    border-left: 4px solid #00c8fa;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 18px;
}

.custom-senior-footer ol.footer-contact {
    padding-left: 0;
    float: left;
    margin-top: 8px;
    width: 100%;
    margin-bottom: 25px;
}
.custom-senior-footer ol.footer-contact li{
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 10px;
}

.custom-senior-footer ol.footer-contact li i{
	width: 20px;
    text-align: left;
    margin-right: 10px;
    font-size: 16px;
}

.custom-senior-footer .content ul li {
	float: left;
    margin: 0 !important;
    width: 50%;
    list-style: none !important;
}

.footer-social a {
    width: 36px;
    height: 36px;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
	margin-right: 7px;
	    float: left;
}

.footer-social a  i{
	font-size: 16px;
    line-height: 38px;
}

.footer-social a.facebook{
	background-color: #516eab;
}
.footer-social a.google-plus{
	background-color: #eb5e4c;
}
.footer-social a.twitter{
	background-color: #40bff5;
}
.footer-social a.dribbble{
	background-color: #f7659c;
}
.e-fashionHolder .e-fashionblog {
    position: relative;
    display: block;
    margin-bottom: 35px;
}
.e-fashionHolder .e-fashionblog .e-shop-imgbox {
    position: relative;
    margin-bottom: 5px;
}
.e-fashionHolder .col-sm-4:nth-child(3n+1) {
    clear: left;
}
.e-fashionHolder .e-fashionblog .e-shop-imgbox figure {
        margin: 0;
}
.e-fashionHolder .e-fashionblog .e-shop-imgbox figure img {
    display: block;
    width: 100%;
    height: 240px;
}
.e-fashionHolder .e-fashionblog .e-shop-imgbox figure .e-shopListover {
    bottom: 0;
    left: 0;
    padding: 0px;
    position: absolute;
    right: 0;
    background: url(../images/e-shope.png) repeat-x left top;
}

.e-fashionHolder .e-shop-imgbox figure .e-shopListover ul {
    list-style: outside none none;
    margin: 40px 0 0;
    padding: 6px 12px;
    text-align: left;
    position: relative;
    background: rgba(0, 0, 0, 0.68) none repeat scroll 0 0;
    font-weight: bold;
}

.e-fashionHolder .e-shop-imgbox figure .e-shopListover ul li {
    list-style: none;
    margin: 0;
    padding: 0 0 0 0;
    display: inline-block;
    vertical-align: middle;
    color: #fff !important;
}
.e-fashionHolder .e-shop-imgbox figure a {
    width: 100%;
}
.e-fashionHolder .e-shop-imgbox figure .e-shopListover ul li strong {

    color: #fff !important;
}

.e-fashionHolder .e-fashionblog .e-shop-imgbox figure .wp-post-image{
    height: 166px !important;
}

#senior_products .kc-col-container {
    border: 1px solid #f1f1f1;
    float: left;
    width: 100%;
}

#senior_products h2.widgettitle {
    margin: 0;
    line-height: 24px;
    font-weight: 600;
    text-transform: capitalize;
    color: #00c8fa;
    font-size: 18px;
    padding: 15px 20px;
    position: relative;
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
}

#senior_products .feed-p-img {
    height: 100px;
    width: 100px;
    display: block;
margin-left: auto;
margin-right: auto;
}

.s_text {
    font-size: 12px;
    font-weight: 400;
}
button.s_button.btn.btn-primary {
    font-size: 12px;
    padding: 6px;
}


body.home .senior_feed_products
{
	line-height: 1.25;
}

body.home #senior_products .widgettitle
{
	padding: 17px 20px 18px 20px;
}

body.home #senior_products .s_button
{
	font-weight: bold;
}

body.home #senior_products .feed-p-img
{
	width: auto;
	height: 85px;
}

body.home #senior_products .d-md-block
{
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
}

.swp_social_panel .sw {
   
    color: #fff !important;
}

.single-blog .blog-wrap .content p {
    color: #393939;
}
.home-and-family .post .post-wrap .content {
    
    margin-bottom: 30px !important;
}

.post ul {
    list-style: disc !important;
}

.single-blog .blog-wrap .content p , .single-blog .blog-wrap .content ul li , .single-blog .blog-wrap .content ol li {
    color: #000 !important;
}

.post .post-wrap .category.health {
    background-color: #00c8fa !important;
}