/*
Theme Name: Hashnews
Theme URI: http://demo.wphash.com/hashnews
Author: ThemesHub
Author URI: http://example.com/
Description: Modern Magazine & Newspaper WordPress Theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hashnews
Tags: one-column, two-columns, right-sidebar, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, sticky-post
This theme, Magazine, Newspaper, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
Hashnews is based on WPHash Starter theme.

*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Accessibility
# Alignments
# Captions
# Content
    ## Posts and pages
    ## Comments
# Galleries
# Infinite scroll
# Media
# Widgets
# Clearings
# Browser Upgrade

--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; 
}
#content[tabindex="-1"]:focus {
    outline: 0;
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto;
}
.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/*--------------------------------------------------------------
# Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}
.gallery-item {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    display: none;
}
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
}
.widget select {
  height: 40px;
  width: 100%;
}


/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Browser Upgrade
--------------------------------------------------------------*/
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.page-pagination-2 {
  float: left;
  width: 100%;
}
.page-pagination-2 ul li a,.page-pagination-2 ul li span {
  border: 1px solid #dddddd;
  border-radius: 50%;
  color: #888888;
  display: block;
  font-weight: 600;
  height: 30px;
  line-height: 28px;
  text-align: center;
  width: 30px;
}
.page-pagination-2 ul li span.current{
  background-color: #00c8fa;
  border-color: #00c8fa;
  color: #ffffff;
}

.page-pagination-2 .pagination {
  justify-content: center;
}
.breaking-news-wrapper .breaking-news-nav button {
  border-radius: 0;
  padding: 0;
}
ul {
  list-style: outside none disc;
}
.breaking-news-wrapper ul,.widget-area ul{
    list-style: none;
}
.sidebar-block-wrapper ul ,
.single-footer.widget_nav_menu ul{
    padding: 0 0 0 20px;
}

.single-blog .blog-wrap .tags-social .blog-social a{
    margin-right: 3px;
}
.single-blog .blog-wrap .tags-social .blog-social a:last-child{
    margin-right: 0;
}
.single-blog .blog-wrap .tags-social .blog-social a.linkedin{
    background-color: #0077B5;
}
.single-blog .blog-wrap .tags-social .blog-social a.pinterest{
    background-color: #BD081C;
}

.leave-comment-form input[type="submit"] {
  background-color: #00c8fa;
  border: medium none;
  border-radius: 5px;
  color: #ffffff;
  line-height: 24px;
  padding: 8px 30px;
  text-transform: capitalize;
  width: auto;
}
.post-block-wrapper {
  float: none;
  overflow: hidden;
  width: inherit;
}
.leave-comment-form textarea,.leave-comment-form input{
    border-radius: 0;
    border-color: #f1f1f1;
}
.leave-comment-form textarea:focus { border-color: #00c8fa; }
p.comment-notes,p.logged-in-as {
  margin-bottom: 5px;
  padding-left: 15px;
}
.head.comment_head {
  float: none;
  overflow: hidden;
}
.comment-list .children {
  margin-left: 35px;
}
.head.comment_head .title {
  margin: 0;
}
.page-banner .page-breadcrumb li::after{
    display: none;
}
.page-breadcrumb .separator {
  margin: 0 5px;
}
article {
  box-shadow: none !important;
}
.post-nav {
  float: none;
  overflow: hidden;
}
.post-carousel-1 .slick-arrow {
  padding: 0;
}
.post.post-overlay .post-wrap .content .title a:hover,.post.post-overlay .post-wrap .content .meta a:hover{
  color: #fff !important;
}
.sidebar-category li a {
  display: inline-block;
}
.sidebar-category.video-category {
  margin: 0;
  padding: 0;
}
.menu-section nav ul{
  margin: 0;
  padding: 0;
}
.wp-megamenu-wrap.wpmm-mobile-menu .wpmm-nav-wrap {
  position: static;
}
.wpmm-mobile-menu a.wpmm_mobile_menu_btn {
  margin: 0;
  margin-top: 7px;
}

.wp-megamenu-wrap .wpmm-nav-wrap > ul > li > a {
  padding: 10px 14px;
  color: #fff;
}
.wpmm-grid-post-content .grid-post-title {
  font-size: 14px;
}

.wp-megamenu-wrap{
  position: static;
}
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu:hover > ul.wp-megamenu-sub-menu, .wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu:hover > .wpmm-strees-row-container > ul.wp-megamenu-sub-menu, .wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu:hover > .wpmm-strees-row-and-content-container > ul.wp-megamenu-sub-menu, .wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_dropdown_menu:hover > ul.wp-megamenu-sub-menu, .wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu li.wpmm_dropdown_menu ul.wp-megamenu-sub-menu li.menu-item-has-children:hover > ul.wp-megamenu-sub-menu, .wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > ul.wp-megamenu-sub-menu > li.wpmm-row .wp-megamenu-sub-menu li.menu-item-has-children:hover > ul.wp-megamenu-sub-menu, .wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu li.wpmm-type-widget .wp-megamenu-sub-menu li:hover .wp-megamenu-sub-menu {
  z-index: 9999;
}
.wp-megamenu-wrap .wpmm-nav-wrap > ul {
  position: static;
}
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > ul.wp-megamenu-sub-menu > li.wpmm-row > ul.wp-megamenu-sub-menu > li, .wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > .wpmm-strees-row-container ul.wp-megamenu-sub-menu > li.wpmm-row > ul.wp-megamenu-sub-menu > li {
  padding-top: 0;
}
#wp-megamenu-primary{
  padding: 0;
}
.wpmm-nav-wrap > ul > li:first-child > a{
  padding-left: 0;
}

.news_area .post .post-wrap { border-bottom: 1px solid #f1f1f1; padding-bottom: 20px; margin-bottom: 20px;}

.news_area .post:last-child .post-wrap {
  border-bottom: medium none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no_space .kc-container{
  padding: 0;
}
.post .post-wrap .content .read-more:hover{
  color: #00c8fa;
}
.row-post-carousel .post .post-wrap {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.header-search .header-search-toggle{
  border-radius: 0;
}

.video_news_area .post.post-small .post-wrap .image .video-btn{
  background-color: transparent;
  color: #fff;
  border: 1px solid #ffffff;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  width: 40px;
}
.video_news_area .post.post-small .post-wrap .image .video-btn i {
  font-size: 18px;
  line-height: 40px;
}
.post.post-separator-border.no_border .post-wrap{
  border: none;
  padding-bottom: 0;
  margin-bottom:0;
}
/* Social Counter */
.widget_siliconcounters h2.widgettitle::before, .widget_siliconcounters h2.widgettitle::after,.kc-contact-form7 h2::before, .kc-contact-form7 h2::after{
  background-color: #00c8fa;
  content: "";
  height: 14px;
  left: 0;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  width: 4px;
}
.widget_siliconcounters h2.widgettitle::after,.kc-contact-form7 h2::after{
  right: 0;
  left: auto;
}
.widget.widget_siliconcounters {
  border: 1px solid #f1f1f1;
  margin: 0;
}
.siliconthemes{
  display: none;
}
.widget.widget_siliconcounters > div{
  padding: 20px;
}
.silicon_counters ul li{
  padding: 1px;
}
.silicon_counters ul li a{
  border-radius: 3px;
}
.widget_siliconcounters h2.widgettitle,.kc-contact-form7 h2{
  border-bottom: 1px solid #f1f1f1;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 15px 20px;
  position: relative;
  color: #00c8fa;
}
.kc-contact-form7 h2{
  border-top: 1px solid #f1f1f1;
}
.silicon_counters ul li a.icon span.fa{
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  display: inline-block;
  font-size: 20px;
  height: 47px;
  line-height: 47px;
  margin-bottom: 10px;
  width: 47px;
}
.silicon_counters .items span {
  line-height: 1;
}
.silicon_counters .items span.count{
  margin-bottom: 4px;
}

.contract_area .post-block-wrapper .head:first-child {
  border-top: 1px solid #f1f1f1;
}
.post-block-wrapper .contact_info .head{
  border-top: 0 solid transparent !important;
}

#secondary.widget-area .silicon_counters {
  overflow: hidden;
  padding: 20px;
}
.archive .post.post-separator-border:last-child .post-wrap {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.archive .blog-post{
  margin: 0;
}
.breadcrumbs_wrap ul li.separator{
  padding: 0;
}
.post.feature-post .image .video-popup {
  color: #00c8fa;
  left: 50%;
  position: absolute;
  top: 50%;
}
.post.post-small .post-wrap .image .video-btn i {
  display: block;
  font-size: 16px;
  line-height: 30px;
}
.post.post-small .post-wrap .image .video-btn {
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
}
.border_none_blog .post-block-wrapper{
  display: none;
}
.comment-respond .body.row{
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
.no-results .blog-search form input{
  border: 1px solid #e4e4e4;
}
.page-banner{
  background-color: #1D1C21;
}
.single-blog .blog-wrap .content p{
  float: none;
}


/* unittest*/
.sticky .single-blog,.tag-sticky-2 .single-blog{
  border-color: #00c8fa;
}
.single-blog .blog-wrap ul,.comment-text ul,article.page .entry-content ul{
  padding-left: 1.7em;
}
.comment-text h2,.content h2{
  margin: 30px 0;
}
.single-blog .content a,.comment-text a,article.page .entry-content a{
  text-decoration: underline;
}
.single-blog .blog-wrap .meta .meta-item.category{
  margin-right: 3px;
  margin-bottom: 3px;
}
.single-blog .blog-wrap .image img {width: auto;}
.single-blog .content .pagination a,.single-blog .content .page-links a,article.page .entry-content .page-links a{
  text-decoration: none;
}
.post-password-required.single-blog .blog-wrap .meta .meta-item{
  height: 30px;
}
.post-password-required.single-blog .blog-wrap .meta .meta-item.view,.post-password-required.single-blog .blog-wrap .meta .meta-item.comments{
  float: left;
}
.post-password-required.single-blog .blog-wrap .meta .meta-item.comments{
  margin-left: 0;
}
.post-password-form input {
  border-radius: 0;
  padding: 5px;
}
.post-password-form input[type="submit"] {
  background: transparent none repeat scroll 0 0;
  padding: 9px 15px;
}
.post-password-form input[type="submit"]:hover{
  background: #00c8fa;
  border-color: #00c8fa;
  color: #fff;
}
.post-block-wrapper.comment_disable_thispost{
  border: 0;
}
.widget-area .sidebar-block-wrapper .head{
  float: none;
  width: auto;
  margin-bottom: 5px;
}
.widget-area .textwidget,.widget-area .tagcloud{
  padding: 20px;
}
.widget-area form#search,.widget-area .sidebar-subscribe form{
  padding: 0;
}
.footer-widget ul{
  list-style: none;
}
.footer-widget .single-footer{
  margin-bottom: 30px;
}
.footer-widget .single-footer table th,.footer-widget .single-footer caption, .footer-widget .single-footer table tfoot tr td{
  color: #ffffff;
}
caption {
  caption-side: top;
}
.footer-widget .single-footer .blog-search form input{
  border: 1px solid #bbbbbb;
}
.footer-widget .single-footer .textwidget strong{
  color: #bbbbbb;
}
.footer-widget .single-footer.widget_tag_cloud a{
  border: 1px solid #bbbbbb;
}
.footer-widget .single-footer.widget_tag_cloud a:hover{
  border: 1px solid #00c8fa;
}
.default-menu.default-style-one #wp-megamenu-primary > .wpmm-nav-wrap ul.wp-megamenu > li > a{
  color: #444444;
}
.footer-widget ul.children {
  margin-left: 15px;
}
.blog-post .blog-quote{
  margin-bottom: 50px;
}
.page-links-title {
  margin-top: 15px;
}
.page-banner{
  color: #b7b7b7;
}
.default-menu.default-style-one #wp-megamenu-primary > .wpmm-nav-wrap ul.wp-megamenu > li > a{
  color: #444444;
}
#wp-megamenu-primary > .wpmm-nav-wrap ul.wp-megamenu > li > a {
  line-height: 30px;
}

/* Weather CSS*/
.header-top-links .header-links li .weather-wrap {
  color: #444444;
  display: block;
  font-size: 11px;
  line-height: 20px;
  text-transform: capitalize;
}
.header-top-links .header-links.header-links-2 li .weather-wrap{
  color: #ffffff;
}
.image.video-popup::before {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  opacity: 0.6;
  position: absolute;
  width: 100%;
}
@font-face {
    font-family: 'weather';
    src: url('../fonts/artill_clean_icons-webfont.eot');
    src: url('../fonts/artill_clean_icons-webfont.eot#iefix') format('embedded-opentype'),
         url('../fonts/artill_clean_icons-webfont.woff') format('woff'),
         url('../fonts/artill_clean_icons-webfont.ttf') format('truetype'),
         url('../fonts/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.we-icon {
  font-family: weather;
}
.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }
