/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html,
body {
    color: #7e7e7e;
    font-family: "Poppins", "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.7;
    margin: 0;
    font-weight: 400;
}
button,
input,
select,
textarea {
    color: #7e7e7e;
    font-family: "Poppins", "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}
h1 {
    font-size: 50px;
    margin: 40px 0;
}
h2 {
    font-size: 42px;
    margin: 35px 0;
}
h3 {
    font-size: 32px;
    margin: 30px 0;
}
h4 {
    font-size: 26px;
    margin: 24px 0;
}
h5 {
    font-size: 22px;
    margin: 20px 0;
}
h6 {
    font-size: 16px;
    margin: 16px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: 600;
    line-height: 1.3;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
dt {
    color: #000;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit
}
p {
    margin-bottom: 1.5em;
}
dfn,
cite,
em,
i {
    font-style: italic;
}
blockquote {
    margin: 0 1.5em;
}
address {
    margin: 0 0 1.5em;
}
pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    line-height: 1.6;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
    margin-bottom: 1.5em;
}
code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
}
abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}
mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}
big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    background: #fff;
}
a {
    color: #000;
}
a:hover,
a:focus {
    color: #f05b64;
    text-decoration: none;
    outline: none !important;
}
ul {
    list-style: disc;
}
li {
    line-height: 2.14286em;
}
ol,
ul {
    padding-left: 1.7em;
    margin-top: 0;
    margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
    margin-bottom: 0;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}
.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
img {
    height: auto;
    max-width: 100%;
}
figure {
    margin: 1em 0;
}
table {
    border: 1px solid #dedede;
    margin: 0 0 1.5em;
    width: 100%;
}
table tr {
    border-bottom: 1px solid #dedede;
}
table th,
table td {
    padding: 10px 20px;
}
table tbody th,
table tbody td,
table thead th {
    border-right: 1px solid #dedede;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}
blockquote,
q {
    quotes: "" "";
}
hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    line-height: 1;
    padding: .6em 1em .4em;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    border-color: #aaa #bbb #bbb;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}
select {
    border: 1px solid #ccc;
    height: 36px;
    width: 100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}
textarea {
    padding: 10px;
    width: 100%;
}

/*--------------------------------------------------------------
# Transition 
--------------------------------------------------------------*/
a,
img,
.img,
.btn,
input,
select,
textarea {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

/*--------------------------------------------------------------
# Selection
--------------------------------------------------------------*/
*::-moz-selection {
    background: #f05b64;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background: #f05b64;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #f05b64;
    color: #fff;
    text-shadow: none;
}
/*--------------------------------------------------------------
# Placeholder
--------------------------------------------------------------*/

*::-moz-placeholder {
    color: #444;
}
::-moz-placeholder {
    color: #444;
}
::placeholder {
    color: #444;
}
/**
* Scroll to top button
*/

#back-to-top {
    position: fixed;
    right: -50px;
    bottom: 28px;
    background: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #666;
    line-height: 46px;
    overflow: hidden;
    font-size: 22px;
    display: block;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
    z-index: 99;
    border: 1px solid #ececec;
    border-radius: 100%;
    -webkit-transition: bottom .5s ease, right .5s ease;
    transition: bottom .5s ease, right .5s ease;
    cursor: pointer;
}
#back-to-top:hover {
    bottom: 35px
}
/**
* Maintenance Mode Scroll to top button hide
*/

.hashnews-maintenance-mode a#scrollUp,
.blank-page a#scrollUp {
    display: none !important;
}
/**
* Maintenance Mode
*/

.maintenance__wrapper {
    width: 100%;
    height: 100vh;
    background: #ddd;
    position: fixed;
    z-index: 99999999;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.maintenance-default-content {
    width: 100%;
    height: 100vh;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eeeeee;
}
.maintenance-default-content h2 {
    margin-top: 0;
}
/**
* Theme Layout
*/

.site-wrapper.boxed-layout {
    box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
    margin: auto;
    position: relative;
    max-width: 1240px;
    width: 100%;
    background: #fff;
}
.boxed-layout .is-sticky {
    right: auto;
    left: auto;
    margin: auto;
    max-width: 1240px;
    width: 100%;
}
.boxed-layout .header-area,
.boxed-layout .header-bottom {
    left: auto;
    max-width: 1240px;
    right: auto;
    width: 100%;
    z-index: 9999999;
}
/* KC CSS Overwrite */

html body .kc_single_image img {
    display: initial;
}
/**
* Page Preloading Effects
*/

#loading-default {
    background-color: #f1f1f1;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    margin-top: 0px;
    top: 0px;
}
#loading-default-center {
    width: 100%;
    height: 100%;
    position: relative;
}
#loading-default-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.pre_object {
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    border-top: 5px solid #F05B64;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #F05B64;
    border-right: 5px solid transparent;
    -webkit-animation: preanimate 2s infinite;
    animation: preanimate 2s infinite;
}
#pre_object_one {
    left: 75px;
    top: 75px;
    width: 50px;
    height: 50px;
}
#pre_object_two {
    left: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
#pre_object_three {
    left: 55px;
    top: 55px;
    width: 90px;
    height: 90px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
#pre_object_four {
    left: 45px;
    top: 45px;
    width: 110px;
    height: 110px;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
@-webkit-keyframes preanimate {
    50% {
        -ms-transform: rotate(360deg) scale(0.8);
        -webkit-transform: rotate(360deg) scale(0.8);
        transform: rotate(360deg) scale(0.8);
    }
}
@keyframes preanimate {
    50% {
        -ms-transform: rotate(360deg) scale(0.8);
        -webkit-transform: rotate(360deg) scale(0.8);
        transform: rotate(360deg) scale(0.8);
    }
}
/**
* Preloader Style 2
*/

#loading2 {
    background-color: #f1f1f1;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    margin-top: 0px;
    top: 0px;
}
#loading2-center {
    width: 100%;
    height: 100%;
    position: relative;
}
#loading2-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 20px;
    width: 100px;
    margin-top: -10px;
    margin-left: -50px;
}
.object2 {
    width: 20px;
    height: 20px;
    background-color: #F05B64;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    position: absolute;
}
#object2_one {
    -webkit-animation: object2 2s linear infinite;
    animation: object2 2s linear infinite;
}
#object2_two {
    -webkit-animation: object2 2s linear infinite -.4s;
    animation: object2 2s linear infinite -.4s;
}
#object2_three {
    -webkit-animation: object2 2s linear infinite -.8s;
    animation: object2 2s linear infinite -.8s;
}
#object2_four {
    -webkit-animation: object2 2s linear infinite -1.2s;
    animation: object2 2s linear infinite -1.2s;
}
#object2_five {
    -webkit-animation: object2 2s linear infinite -1.6s;
    animation: object2 2s linear infinite -1.6s;
}
@-webkit-keyframes object2 {
    0% {
        left: 100px;
        top: 0
    }
    80% {
        left: 0;
        top: 0;
    }
    85% {
        left: 0;
        top: -20px;
        width: 20px;
        height: 20px;
    }
    90% {
        width: 40px;
        height: 15px;
    }
    95% {
        left: 100px;
        top: -20px;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 100px;
        top: 0;
    }
}
@keyframes object2 {
    0% {
        left: 100px;
        top: 0
    }
    80% {
        left: 0;
        top: 0;
    }
    85% {
        left: 0;
        top: -20px;
        width: 20px;
        height: 20px;
    }
    90% {
        width: 40px;
        height: 15px;
    }
    95% {
        left: 100px;
        top: -20px;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 100px;
        top: 0;
    }
}